.teacher__card {
  font-size: 14pt;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 30%;
  width: 400px;
  background-color: #995486;
  border-radius: 10px;
}

.teacher__card:hover {
  -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.teacher__card > textarea {
  width: 200px;
}

.teacher__card > img {
  width: 50%;
}



.btn_teacher_delete {
  height: 55px;
  border-radius: 45px;
  font-size: 15px;
  color: #ffffff;
  background: #a42e34;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 20px;
  margin-top: 30px;
}

.btn_teacher_delete:hover {
  align-items: center;
  background: #d22831;
  box-shadow: 0 5px 13px #d22831;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.teacher_edit {
  width: 100%;
}



select {
  width: 107%;
}

.teacher_edit_save {
  height: 55px;
  border-radius: 45px;
  font-size: 15px;
  color: #ffffff;
  background: #582d4c;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 20px;
  margin-top: 30px;
}

.teacher_edit_save:hover {
  align-items: center;
  background: #bd459b;
  box-shadow: 0 5px 13px #ff00b3;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.hiddenform {
  /* visibility: hidden; */
  height: 0px;
  margin: 0;
  padding: 0;
}

.input__teach{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #7D8195;
  outline: 0;
  font-size: 1.3rem;
  color: #edcece;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 20px ;
}
.option__teach{
  background-color: #69445f;
  color: #ffffff;
}
.h3__teach{
  color: #ffffff;
}
.profile__div{
  color:#f9e8e8;
}