.news_list {
  width: 50%;
  margin: auto;
  font-size: 18pt;
}


.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  width: 30vw;
  height: 400px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.modal_content.active {
  transform: scale(1);
}

.modal_form {
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #2A2323;
  border-radius: 20px;
  border: 2px;
  border-style: outset;
  border-color: #ffffff;
}

.news_button {
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 40px;
  border-radius: 45px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  background: #7D8195;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin: auto;
}

.news_button:hover {
  align-items: center;
  background: #7D8195;
  box-shadow: 0 5px 10px #646777;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.button_add {
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 45px;
  margin: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  background: #7D8195;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}

.modal_form > form {
  width: 100%;
}

.btn_add {
  background-color: #3CB371;
  padding: 8px;
}

.button_add:hover {
  align-items: center;
  background: #7D8195;
  box-shadow: 0 10px 15px #646777;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.modal_form {
  outline: 0;
  font-size: 1.3rem;
  color: #7D8195;
  background: transparent;
  transition: border-color 0.2s;
}
