/* .btn__modal {
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 45px;
  margin: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  background: #884a76;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}   */

/* .btn__modal:hover {
  align-items: center;
  background: #b8629f;
  box-shadow: 0 5px 13px #a7598f;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}   */


.video_container {
  position: relative;
  display: flex;
  justify-content: center; 
  top: 15vw;
 } 


.bg , .btn__modal {
 position: absolute;
 width: 150px;
 height:  150px;
 border-radius: 50%;
}


 .video__div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  align-items: center;
 }


 .bg {
  animation: pulse 1.2s ease infinite;
  background: #884a76;
 }

 .btn__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  border: none;
  color: #ffffff;
  background: #884a76;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  background-size: 18px;
  cursor: pointer;
  outline: none;
 } 


 .btn__modal:hover {
  position: absolute;
  background-color: #ce0e3e;
  background: #b8629f;
  box-shadow: 0 5px 13px #a7598f;
  color: white;
  font-size: 17px;
 } 


 @keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
  }
  
 }


