.teacher__info {
  padding-top: 15px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.profile__left > img {
  width: 300px;
  border-radius: 3%;
}

.profile__right {
  font-size: 16pt;
  margin-left: 10px;
  width: 70%;
}

.profile__name {
  font-weight: 600;
  font-size: 20pt;
}

button {
  background-color: #039BE5;
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 14pt;
  margin-top: 10px;
}

button:hover {
  background-color: #039ae58f;
}

.teacher__links {
  width: 80%;
  padding-left: 50px;
  margin: auto;
  margin-top: 5px;
  color: #6e6e6e;
}

.modal__form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: #e9e9e92d;
}

.form__div {
  padding-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.btn__reg {
  padding: 15px;
  margin: 10px;
}