.footer__main {
  padding: 24px;
  background-color: #3D3131;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: 'Gill Sans', sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__block>a,
a:active {
  text-decoration: none;
  color: #fffefe;
}

.footer__block>a:hover {
  color: rgb(44, 44, 44);
}

.footer__block_end>a,
a:active {
  text-decoration: none;
  color: #fffefe;

}

.footer__block_end>a:hover {
  color: rgb(44, 44, 44);
}

.footer__block {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  padding-right: 10%;
  padding-left: 10%;
  color: #fffefe;
}

.footer__block_end {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  padding-right: 10%;
  padding-left: 10%;
  color: #ffffff;
  padding: 10px 100px -20px;
}

.footer__socials {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 190px;
}


.social__icons>a {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  overflow: hidden;
  border: 2px solid #7D8195;
}

.social__icons a:last-child {
  margin-right: -25px;
}

.social__icons a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.social__icons>a:hover {
  transform: scale(1.07);
}

.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
