.request_body {
  width: 100%;
}

.request_card:nth-child(2n + 1) {
  background-color: #995486;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 4px;
}

.request_card {
  padding: 4px;
  background-color: #995486;
  border-radius: 10px;
}

div > select {
  width: 200px;
}

.request_card:hover {
  -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

select {
  padding: 0;
}

.btn_change {
  height: 55px;
  border-radius: 45px;
  font-size: 15px;
  color: #ffffff;
  background: #582d4c;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 20px;
  margin-top: 30px;
}

.btn_delete {
  height: 55px;
  border-radius: 45px;
  font-size: 15px;
  color: #ffffff;
  background: #a42e34;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 20px;
  margin-top: 30px;
}

.btn_change:hover {
  align-items: center;
  background: #bd459b;
  box-shadow: 0 5px 13px #ff00b3;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.btn_delete:hover {
  align-items: center;
  background: #d22831;
  box-shadow: 0 5px 13px #d22831;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}
.select__req{
  width: 20%;
  border: 0;
  border-bottom: 2px solid #7D8195;
  outline: 0;
  font-size: 1.1rem;
  color: #ffffff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
 background-color: #844574;
}
.option__req{
  background-color: #69445f;
  color: #ffffff;
}