.container {
  background-color: #3D3131;
}

.modal_form {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #fee9e9;
  border-radius: 20px;
  border: 2px;
  border-style: outset;
  border-color: #ffffff;
}

.avatar_log {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



