.main__block {
  width: 80%;
  margin: auto;
  font-size: 16pt;
}

.requests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.requests_block {
  border: 1px solid rgba(129, 129, 129, 0.205);
  width: 40%;
  padding: 10px;
  background-color: #cecdcd33;
}

.request_head {
  font-size: 16pt;
  font-weight: 600;
  border-bottom: 1px solid black;
  width: 100%;
}