.main__block {
  width: 90%;
  margin: auto;
  font-size: 16pt;
}

.requests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.requests_block {
  width: 45%;
  padding: 10px;
}

.request_head {
  font-size: 16pt;
  font-weight: 600;
  width: 100%;
  color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.403);
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content.active {
  transform: scale(1);
}

.modal_form {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: middle;
  flex-wrap: wrap;
  background-color: #2A2323;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.btn_add {
  background-color: #3CB371;
  padding: 8px;
}

form {
  width: 600px;
  
}

.btn_add_new {
  padding: 5px;
}

.btn_add_new_save {
  height: 55px;
  border-radius: 45px;
  font-size: 15px;
  color: #ffffff;
  background: #884a76;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
  margin-right: 20px;
  margin-top: 30px;
}

.btn_add_new_save:hover {
  align-items: center;
  background: #b8629f;
  box-shadow: 0 5px 13px #a7598f;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.btn_unautorized {
  padding: 4px;
  font-size: 10pt;
  margin-left: 5px;
}

h3 {
  vertical-align: middle;
}

.teachers_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  width: 91.3%;
  margin: auto;
  padding: 5px;
}
.input__inf{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #7D8195;
  outline: 0;
  font-size: 1.3rem;
  color: #edcece;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 20px ;
}
.option__inf{
  background-color: #69445f;
  color: #ffffff;
}
.modal_form__f{
  margin: 0;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}