.trial__form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.form__div {
  padding-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  font-size: 14pt;
  width: 400px;
}

select {
  padding: 5px;
  font-size: 14pt;
}

form {
  font-size: 14pt;
}

.btn__reg {
  padding: 15px;
  margin: 10px;
}