.trial__form {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  width: 55%;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  border: 5px;
  border-style: outset;
  border-color: #ed83cf;
  background-color: #2A2323;
}

.form__div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.form_title {
  font-size: 25pt;
  color: #DC6DBF;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  margin-right: 95px;
  font-weight: 500;
  padding: 20px 20 0px 0px;
}

.btn__reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 45px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  background: #884a76;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}

.btn__reg:hover {
  align-items: center;
  background: #b8629f;
  box-shadow: 0 5px 13px #a7598f;
  color: white;
  font-size: 15px;
  transform: translateY(-1px);
}

.select_box {
  list-style: none;
  font-family: 'Courier New', monospace;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #7D8195;
  outline: 0;
  font-size: 1.2rem;
  color: #7D8195;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form_input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #7D8195;
  outline: 0;
  font-size: 1.3rem;
  color: #7D8195;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form_input::placeholder {
  font-family: 'Courier New', monospace;
}

.form_input:placeholder-shown~ {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form_input:focus {
  border-image: linear-gradient(to right, #b8629f, #e27dc3);
  border-image-slice: 1;
}

.form_input:focus~ {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 700;
}

.form_input:required,
.form_input:invalid {
  box-shadow: none;
}
