/*user*/
.main__div{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.form__div{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
    min-width: 80%;
}

.table__main{
   
}

.table__header{
    display: flex;
    justify-content: space-around;
    width: 70%; 
}

.table__line{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.398);
    padding-top:  10px;
    padding-bottom:  10px;
    
}

.table__week{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}

.table__img{
    width: 50%;
    border-radius: 100%;
}

.table__teachers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.398);
    margin: auto;
    
}

.about__teacher{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    width: 150px;
    
}
.teacher__p{
    margin-top: 5px ;
    margin-bottom: 5px ;
}

.table__td{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.398);
   
   
}
.table__td:hover{
    background-color: rgba(74, 161, 255, 0.253)
}
.button__teacher{
    padding: 5px;
    height: 30px;
}


@media(max-width: 640px) {

}
/*admin*/



