.news_item {
  width: 90%;
  justify-content: center;
  margin: auto;
  padding: 23px 10px 10px 0px;
  margin-left: -100px;
}

.news {
  width: 90%;
  justify-content: center;
  position: relative;
}

.img_news {
  width: 60%;
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 50px;
  float: left;
  margin-right: 50px;
}

.news_item>button {
  padding: 10px;
  margin: 10px;
  margin-left: 80px;
}

.news_info>button {
  padding: 10px;
  margin: 10px;
  margin-left: 100px;
}

.news_info {
  width: 100%;
  position: relative;
  padding: 23px 0 10px 300px;
  color: #000000;
  cursor: pointer;
  font-size: 15pt;
  margin: auto;
}

.news_info {
  font-family: 'Gill Sans', sans-serif;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  width: 30vw;
  height: 400px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.modal_content.active {
  transform: scale(1);
}

.modal_form {
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #635252;
  border-radius: 20px;
  border: 2px;
  border-style: outset;
  border-color: #ffffff;
  outline: 0;
  font-size: 1.3rem;
  color: #7D8195;
  transition: border-color 0.2s;
}

.button_edit {
  background-color: #7D8195;
  justify-content: center;
  height: 50px;
  border-radius: 15px;
  margin: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}

.button_edit:hover {
  background-color: #5a5c6b;
}

form textarea {
  font-size: 16pt;
  width: 100%;
}

form>input {
  width: 99.1%;
}

form {
  width: 100%;
}

p {
  font-family: 'Gill Sans', sans-serif;
  position: relative;
  padding: 23px 0 10px 30px;
  font-size: 17pt;
  color: #ffffff;
}

.btn_delete {
  background-color: #954051;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 15px;
  margin: 30px;
  margin-right: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}

.btn_delete:hover {
  background-color: #dc143c7e;
}

.btn_edit {
  background-color: #7D8195;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 15px;
  margin: 30px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, .1);
  transition: .3s;
}

.btn_edit:hover {
  background-color: #5a5c6b;
}

h4 {
  font-size: 23pt;
  margin: auto;
  color: hsl(0, 0%, 100%);
  font-weight: 50;
  padding: 10px 0 0px 0px;
  font-family: 'Gill Sans', sans-serif;
}
