.profile {
  width: 100%;
  padding: 40px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 -40px;
}

.list{
  margin: 0 40px;
}
.item{
  margin-top: 18px;
}