.header__main {
  background-color: #3D3131;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  font-size: 16pt;
}

.header__logo {
  font-size: 26pt;
}

.header__login > a {
  margin: 10px;
  padding-right: 10px;
}

a {
  color: white;
}
